a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
}

p {
  color: #b7b1b1;
  font-weight: 400;
}

.sub-details p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.discBtn {
  background-color: #21afa7;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
}

.gradient-custom {
  background: linear-gradient(
    90deg,
    rgba(1, 219, 223, 1) 0%,
    rgba(122, 113, 238, 1) 50%,
    rgba(251, 0, 255, 1) 100%
  );
}

.fa-heart {
  color: #f05c5d;
}

.fa-balance-scale {
  color: #968888;
}

.buy {
  border-radius: 20px;
  background-color: #e8f6f6;
  color: #2bc4ba;
}

.cart {
  background-color: #2bc4ba;
  border-radius: 30px;
  position: relative;
  right: 35px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
